.scroll-tab
{
    width:100%;
    height:100%;
    display:flex;
    padding:10px;
    align-items: flex-start;
    /* gap:10px; */
}
.scroll-tab.st-column
{
    flex-direction: column;
}
.scroll-tab .st-headers
{
    display:flex;
    flex-direction: column;
    border:1px solid lightgray;
    border-radius:5px;
    overflow:overlay;
    height: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.scroll-tab.st-column .st-headers
{
    flex-direction: row;
    height: auto;
    width: 100%;
    scroll-snap-type: x mandatory;
}
.scroll-tab .st-headers .st-header-main
{
    scroll-snap-align: start;
    white-space: nowrap;
    padding:10px 20px;
    cursor:pointer;
    transition:0.2s;
}
.scroll-tab .st-headers .st-header-main:not(.sel):hover
{
    background-color:#f4f4f4;
}
.scroll-tab .st-headers .st-header-main.sel
{
    color:white;
    background-color:var(--main-color);
    font-weight:700;
}
.scroll-tab .st-headers .st-header-main.bordered
{
    border:1px solid transparent;
}
.scroll-tab .st-headers .st-header-main.bordered.sel
{
    border:1px solid var(--main-color);
    background-color:#ececec;
    color:black;
    border-radius:5px;
    font-weight:500;
}
.scroll-tab .st-headers .st-header-main.lite.sel
{
    color: var(--main-color);
    font-weight:700;
    background-color:#ececec;
}
.scroll-tab .st-body
{
    padding: 10px 20px;
    flex:1;
    overflow:overlay;
    height:100%;
    display:flex;
    flex-direction: column;
    gap:30px;
}
.scroll-tab .st-body .st-body-section
{
    width: 100%;
}
.scroll-tab .st-body .st-body-section .st-body-title
{
    font-weight:500;
    font-size:18px;
    margin-bottom:10px;
}